@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  /* Color */
  --color-text-primary-hover: rgba(79, 70, 229, 1);
  --color-sidebar-item-background: rgba(238, 242, 255, 1);
  --color-sidebar-background: rgba(255, 255, 255, 0);
  --color-background-primary: rgba(247, 247, 247, 1);
  --color-text-secondary: rgba(100, 116, 139, 1);
  --color-text-primary: rgba(8, 16, 33);
  --color-border-primary: rgba(226, 232, 240, 1);
  --color-background-primary: rgba(246, 246, 246, 1);
  /* Font */
  --font-poppins: "Poppins", sans-serif;
}