@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  /* Color */
  --color-text-primary: rgba(8, 16, 33);
  --color-text-primary-hover: rgba(79, 70, 229, 1);
  --color-text-primary-active: rgba(54, 44, 207, 1);
  --color-text-secondary: rgba(100, 116, 139, 1);
  --color-sidebar-item-background: rgba(238, 242, 255, 1);
  --color-sidebar-item-active-background: rgba(222, 229, 255, 1);
  --color-sidebar-background: rgba(255, 255, 255, 0);
  --color-border-primary: rgba(226, 232, 240, 1);
  --color-border-secondary: rgba(155, 155, 155, 1);
  --color-background-common: rgba(246, 246, 246, 1);
  --color-background-primary: rgba(255, 255, 255, 1);
  --color-background-secondary:   rgba(250, 250, 250, 1);
  --color-background-hover-primary: rgba(28, 46, 150, 0.04);
  --color-background-hover-secondary: rgba(28, 46, 150, 0.08);
  --color-background-active-primary: rgba(28, 46, 150, 0.1);
  --color-button-primary: rgba(79, 70, 229, 1);
  --color-button-primary-active: rgba(54, 44, 240, 1); 
  --color-button-primary-hover: rgba(54, 44, 207, 1);
  /* Font */
  --font-poppins: "Poppins", sans-serif;
  /* Font size */
  --text-common: 14px;
  --text-small: 12px;
  /* Box shadow */
  --shadow-around: 0 0 3px rgba(0,0,0,0.45);
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none;    
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}